
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    height: 100%;
}

header {
    background-color: rgba(44, 62, 80, 0.8);
    color: #ecf0f1;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}

.hero-image {
    background-image: url('photos/back8.jpg'); 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    max-width: 80%;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Button styles */
.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 1s ease;
    opacity: 0;
}

.btn:hover {
    background-color: #2980b9;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1rem;
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        margin-top: 1rem;
    }

    .hero-text {
        max-width: 95%;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text h2 {
        font-size: 1.5rem;
    }

    .button-container {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 1rem;
    }

    .social-media {
        flex-wrap: wrap;
    }
}